/* /styles/snowfall.css */

.flake-wrapper {
  position: absolute;
  top: -10px;
  animation: fall 7s linear infinite;
}

.snowflake {
  width: 10px;
  height: 10px;
  background:#E0F7FF;
  border-radius: 9999px;
  opacity: 0.8;
  animation: wiggleX 7s ease-in-out infinite;
}


@keyframes fall {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}

@keyframes wiggleX {
  0% { transform: translateX(0); }
  25% { transform: translateX(-10px); }
  50% { transform: translateX(10px); }
  75% { transform: translateX(-10px); }
  100% { transform: translateX(0); }
}


.snow-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 999;
}
